<div id="featured-wrapper">
		<div id="featured" class="extra2 container">
			<div class="main-title">
				<h2>Nulla eleifend purus</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
	
			<div class="ebox1"> <span class="fa fa-cogs"></span>
				<div class="title">
					<h2>Fusce ultrices fringilla</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
				<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. </p>
				<a href="#" class="button">Etiam posuere</a> </div>
			<div class="ebox2"> <span class="fa fa-sun-o"></span>
				<div class="title">
					<h2>Donec dictum metus</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
				<p>Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus.</p>
				<a href="#" class="button">Etiam posuere</a> </div>
		</div>
	</div>
</div>