<h1>Aboutus</h1>
<p>Swarnandhra College of Engineering and Technology (Eamcet Code: SWRN) was established in the year 2001 at Seetharampuram, Narsapur, West Godavari District, Andhra Pradesh by The Vasista Educational Societypioneered by Technocrats with varied Industrial and Consultancy Experience. All the courses are approved by All India Council of Technical Education (AICTE),New Delhi (Statutory body of Government of India) and Department of Technical Education (DTE), Hyderabad, Government of AndhraPradesh.</p>
