ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}


li {
    float: left;
}

li a {
 display: block;
 color: white;
 background-color: #090908;
 text-align: center;
 padding: 16px; 
 text-decoration:none;

}


li a:hover {
 background-color: #C0DBE0;

}
nav ul ul {
 display:none;
}

nav ul li:hover > ul {
  display:block;

}

nav ul ul li {
	float:none;
}
